:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.heading-home-page {
    padding-top: 110px;
}

.home-page-heading {
    margin: 0px 10px;
    padding: 30px 0px;
    text-align: left;
/*    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/heading-bg.jpg);*/
    background: transparent;
}

.home-page-heading .text-content h4 {
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.home-page-heading .text-content h2 {
    color: #F2F2F2;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.carouselRow{
    padding-bottom: 20px;
}

.carousel-control-prev,
.carousel-control-next{
    position: inherit;

}

/* Side Panel CSS */
.category-icon
{
    width: 15%;
    padding-right: 10px;
}
.category-list{
    background-color: #DFDFDF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: black;
}


.category-list a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;}


/* Cards */
/*Categories*/
.category-card-deck{
    padding: 30px 350px 30px 360px;
}

.category-cards-body{
    background-color: #363636;

}
.card-img-top{
    height: 240px !important;
}
.category-card-title {
    text-align: center;
    color: white;
    font-size: 25px;
}

/*Projects*/
.project-card-wrapper {

}

.project-card{
    width: 300px;
    height: 300px;
    background-color: #363636;
    color: #F2F2F2;
}

.project-icons
{
    width: 20px;
}
.project-card-image{
    height: 210px;
    width: 300px;
}
.project-card-body{
    height: 60px;
    position: relative;
    top: 0;
    color: #F2F2F2;
    width: 100%;
}
.project-card-footer{
    background-color: #363636;
    height: 30px;
    visibility: hidden;

}

.project-card:hover {
    transform: scale(1.03);
}
.project-card:hover .project-card-footer {
    bottom: -75px;
    box-shadow: 0px 15px 12px -7px rgba(0, 0, 0, .1);
    visibility: visible;
}
